*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
body{
    background-color: white;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{ 
    height: 50px;
    width: 100px;
}
 
.logo{
    background-image:url("extra/amazon_logo.png");
    width: 100%;
    height: 50px;
    background-size: cover;
}

.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add1{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.add2{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: darkgoldenrod;
    width:620px;
    height:40px;
    border-radius: 4px;
}
.nav-search:hover{
    border:2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: auto;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0f1111;
}
/* box 4 */
span{
 font-size: 0.7rem;
 font-weight: 700;
}
.nav2{
    font-size: 0.85rem;
    font-weight: 700;
}
.cart i{
    font-size: 30px;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700 ;
}
/* panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    display: flex;
    align-items: center;
    gap: 5px;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width:70%;
    font-size: 0.85rem;
}

.panel-deals img{
    height: 35px;
    width: 400px;
}
.hover-box {
    position: relative;
    display: inline-block;
}
.hover-img {
    width: 200px;
    position: absolute;
    top: 30px; /* position below the text */
    display: none; 
    border-radius: 5px;
    height: 150px;
}

/* Show image on hover */
.hover-box:hover .hover-img {
    display: block;
}
.border1{
    border:2px solid transparent;
}
.border1:hover{
    border: 1.5px solid blue;
}
/* LIFELONG PAGE */
.life{
    display: flex;
    padding: 5px;
}
.life-col{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    width: 60px;
    margin-top:60px;
    margin-left: 5px;
}
.life-col img{
    border-radius: 5px;
    height: auto;
    width: 50px;
}
.life-img{
    display: flex;
    height: 450px;
    width: 450px;
    margin-top: 60px;
    margin-left: 6px;
    transition: 0.3s ease-in-out;
}
.life-img:hover{
    transform: scale(1.1); 
    box-shadow: 0 0 10px 3px lightblue;
}
.life-head{
    height: 40px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 60px;
    margin-left: 10px;
    padding:5px;
    align-items: center;
}

.linked{
    font-size: 15px;
    color: #2162a1;
    padding: 10px;
}
.linked:hover{
    color: #222f3d;
    text-decoration: underline;    
}
.buy{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}
.buy1{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: bold;
}
.buy2{
    font-size: 15px;
    padding-left: 4px;
}
hr{
    height: 1px;
    margin-top: 10px;
    background: #f3f3f3;
}
.amt{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.discount{
    color: #CC0C39;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 12px;
}
.price-cut{
    display: flex;
    flex-wrap: wrap;
    padding-left:10px;
    color: #565959;
    font-size: 15px;
    font-weight: bolder;
    padding-top: 5px;
}
.pricecut-amt{
    text-decoration:line-through 0.1rem;
}
.tax{
    font-size: 17px;
    padding-left: 10px;
    padding-top: 8px;
}
table{
    padding-left: 10px;
}
th{
    font-size: 14px;
    text-align: left;
    padding-right: 8px;
    padding: 4px;
}
td{
    font-size: 14px;
}
.life-about h2{
    padding-left: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #0f1111;
    margin:9px;
}
.life-about ul{
    padding-left: 10px;
    font-size: 1rem;
    text-align: left;
}
.life-report{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.rep-text{
    color: #2162a1;
    font-size: 17px;
    padding-left: 8px;
    transition: 0.3s;
}

.rep-text:hover{
    color: #222f3d;
    text-decoration: underline;
}
.life-brand{
    display: flex;
    flex-wrap: wrap;
    margin-top: 425px;
    align-items: center;
    padding-left: 10px;
}
.top{
    border: 2px solid;
    background-color: rgb(43, 42, 42);
    color: #e8e8e8;
    border-radius: 5px;
    height: 24px;
    width: 80px;
    margin-left: 10px;
    margin-right: 5px;
}

.top p{
    font-size: 15px;
    text-align: center;
    padding: 2px;
}
.life-name{
    font-weight: bold;
    font-size: 20px;
}
.life-comm{
    padding-left: 10px;
    padding-top: 10px;
}
.comm-text{
    color: green;
    font-size: 17px;
}
.description h2{
    font-size: 1.5rem;
    color: #0F1111;
    font-weight: 700;
    margin: 20px 0px 20px 10px;
}
.description p{
    color: #333333;
    padding-left: 45px;
    padding-bottom: 6px;
}
.manufacturer h2{
    margin: 20px 0px 20px 10px;
    color: #0F1111;
    font-weight: 700;
}
.manufacturer h3{
    padding: 10px;
    margin-left: 341px;
    font-size: 20px;
}
.manufacturer img{
    height: 600px;
    width: 970px;
    margin-left: 350px;
}
.manufacturer p{
    color: #333333;
    font-size: 18px;
    padding: 8px;
    margin-left: 341px;
    height: auto;
    width: 970px;
}

.manu-2 p{
    font-weight: 700;
    font-size: large;
}

.manu-2 span{
    color: #0F1111;
    font-size: 15px;
    padding: 8px;
    margin-left: 341px;
    height: auto;
    width: 970px;
    font-weight: 400;
}

/*  ICON CODE*/

.all-icon{
    display: flex;
    padding-top: 8px;
    justify-content: space-evenly;
}
/* .truck-del{
    border: solid 2px #0F1111;
} */
.truck-del-icon{
    height: 7px;
    text-align: center;
    padding-top: 8px;
}
.truck-del-ms{
    margin-top: 35px;
    color: #2162a1;
    cursor:pointer;
    font-size: 16px;
    text-align: center;
}
.return-del{
    /* border: solid 2px #0F1111; */
    width: 120px;
}

